.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  color: #6366f1;
}
.short-bio {
  color: #2c364c;
}

@media screen and (max-width: 768px) {
  .profile-container {
    height: 150px;
  }
  .name {
    font-size: 20px;
  }
  .short-bio {
    font-size: 14px;
  }
  .profile {
    height: 30px;
    width: 30px;
  }
}
